<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Scharco Test Suite">

    <listeners>
        <listener class-name="com.scharco.Utilities.Listeners"/>
    </listeners>

    <test name="Scharco Smoke Testcases">
        <classes>
<!--            <class name="com.scharco.TestCases.Dashboard005">-->
<!--                <methods>-->
<!--                    <include name="TestCase005_Dashboard"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.scharco.TestCases.UserManagement002">-->
<!--                <methods>-->
<!--                    <include name="TestCase002_UserManagement"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.scharco.TestCases.RoleManagement003">-->
<!--                <methods>-->
<!--                    <include name="TestCase003_RoleManagement"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.scharco.TestCases.FirmwareAndOTAUpdateTestCase006">-->
<!--                <methods>-->
<!--                    <include name="TestCase006_FirmwareManagement"/>-->
<!--                    <include name="TestCase008_AddOTAUpdates"/>-->
<!--                    <include name="TestCase007_DeleteFirmwareManagement"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.scharco.TestCases.CompanyManagement004">
                <methods>
                    <include name="TestCase004_CompanyManagement"/>
                </methods>
            </class>
<!--            <class name="com.scharco.TestCases.RuleManagement007">-->
<!--                <methods>-->
<!--                    <include name="TestCase007_RuleManagement"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>